/* Global styles */
html {
    background-color: #2D293D;
    color: #E8FFEE;
}

body {
    max-width: 600px;
    margin: 0 auto;
    font-family:  monospace;
    font-size: 16px;
    text-align: justify;
}

/* Headings */
h1, h2 {
    font-weight: normal;
    text-align: left;
}

h1 span {
    color: #5C5B77;
}

h1, h1 a {
    font-size: 36px;
    margin: 0;
    border-left: 4px solid;
    padding-left: 20px;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

h1 small {
    font-size: 20px;
}

h2, h2 a {
    text-decoration: none;
    font-size: 28px;
    margin-top: 2rem;
    margin-bottom: 0;
    font-weight: normal;
    text-decoration: none;
}

h3, h3 a {
    font-size: 26px;
    font-weight: normal;
    text-decoration: none;
}

h4, h4 a {
    font-size: 24px;
    font-weight: normal;
    text-decoration: none;
}

h5, h5 a {
    font-size: 22px;
    font-weight: normal;
    text-decoration: none;
}

h6, h6 a {
    color: #2D293D;
    font-size: 20px;
    font-weight: normal;
    text-decoration: none;
    background-color: #E8FFEE;
}

/* Paragraphs */
p {
    hyphens: auto;
    line-height: 1.5;
}

/* Links */
a {
    color:#78DB97;
    text-decoration: underline;
}

a:visited {
    color: #5C5B77;
}

a:hover {
    color: #E8FFEE;
    transition: 0.3s ease;
}

/* Gifs */
.gif {
    margin: 20px 0 0 0;
    text-align: center;
}

header {
    margin-top: 20px;
}
/* Navigation Bar */
.nav-bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 0.8rem;
    margin-bottom: 2rem;
}

.title-link a, .nav-links a {
    color: #78DB97;
    text-decoration: none;
    font-size: 14px;
}

/*
.title-link a, .title-link a:visited, .title-link a:focus {
    background-color: #ffcc66;
    transition: background-color 0.3s ease;
    color: #2D293D;
    padding: 1px 5px 2px 5px; 
    text-decoration: none;
} 
*/

.title-link img {
    background: transparent;
}

.title-link a:hover img {
    transform: rotate(5deg);
}

.nav-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: right;
}

.nav-links ul li {
    list-style-type: none;
    display: inline-block;
}

.nav-links li::after {
    content: '/';
    margin-left: 7px;
    color: #5C5B77;
}

.nav-links li:last-child::after {
    content: none; 
}

.nav-links a:hover, a:focus {
    color: #E8FFEE;
    text-decoration: underline #78DB97;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
    transition: 0.3s ease;
}

.nav-links {
    font-size: 1.1rem;
    text-align: right;
}

.nav-links a {
    margin: 0 13px;
}

.card {
    margin-top: 2rem;
}

button, a button {
    background-color: #5C5B77;
    border: 2px solid #78DB97;
    padding: 5px 20px 6px 20px;
    color: #78DB97;
    letter-spacing: 2px;
    text-decoration: none;
    font-weight: bold;
}

button:hover {
    border: 2px solid #E8FFEE;
    background-color: #78DB97;
    color: #E8FFEE;
    transition: 0.5s ease;
}

footer {
    height: 30px;
    border-top: 1px solid #5C5B77;
    color: #5C5B77;
    margin-top: 3rem;
    margin-bottom: 0;
    padding: 10px;
    text-align: center;
}

/* Blog */
.post-content h1 {
    text-align: justify;
    text-justify: distribute;
    letter-spacing: 2px;
}

/* Titles and categories in the entry-list */
.entrytitle a {
    font-size: 16px;
    text-decoration: none;
    color: #78DB97;
}

a.category {
    font-size: 16px;
    text-decoration: none;
    color: #5C5B77;
}

.entrytitle a:hover, a:hover.category {
    color: #E8FFEE;
    transition: 0.3s ease;
}

.post-list article.card {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 20px;
}

.post-list article.card:first-child {
    margin-top: 40px;
}

.post-list article.card .entrytitle {
    margin: 0;
    text-align: left;
    text-wrap: balance;
    max-width: 410px;
}

.post-list article.card date {
    color: #2D293D;
    background-color: #E8FFEE;
    padding: 0 5px 0 5px;
}

.post-list .post-info {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content:baseline;;
    grid-template-rows: 110px auto 110px;
    gap: 20px;
}

/* Media Query */
@media only screen and (max-width: 600px) {
    body {
        width: 320px;
    }

    .nav-bar {
        display: initial;
    }

    .title-link {
        text-align: left;
        margin: 0.5rem 0 0.8rem 0;
    }

    .nav-links ul {
        margin-bottom: 1.5rem;
        text-align: left;
        justify-content: left;
    }

    .nav-links ul li {
        margin-left: -10px;
    }

    .nav-links a {
        margin: 0 11px;
    }
}
