/* Global styles */

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #333366;
    color: #CCCCCC;
    max-width: 800px;
    margin: 0 auto;
    font-family:  monospace;
    font-size: 16px;
}

/* Headings */
.pageTitle {
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    border: none;
    padding: 0;
}

h1 {
    font-size: 44px;
    border-left: 20px solid #00FF00;
    padding-left: 20px;
}

h1, h2 {
    font-weight: normal;
    text-align: left;
}


h2, h2 a {
    text-decoration: none;
    font-size: 34px;
    margin-top: 2rem;
    margin-bottom: 0;
    font-weight: normal;
    text-decoration: none;
}

h3, h3 a {
    font-size: 28px;
    font-weight: normal;
    text-decoration: none;
    margin: 3rem 0rem 0.3rem 0rem;
}

h4, h4 a {
    font-size: 22px;
    font-weight: normal;
    text-decoration: none;
    margin: 3rem 0rem 0.3rem 0rem;
}

h5, h5 a {
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    margin: 3rem 0rem 0.3rem 0rem;
}

h6, h6 a {
    color: #333333;
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
    background-color: #CCCCCC;
    padding: 0px 5px;
    margin: 3rem 0rem 0.3rem 0rem;
}

hr {
    margin-top: 5%;
}

img {
    max-width: 100%;
}

p {
    hyphens: auto;
    line-height: 1.5rem;
    margin: 0.8rem 0;
}

ul li {
    margin: 0.5rem 0rem;
}

summary {
    color:#00FF00;
    margin: 10px 0;
}

blockquote {
    border-left: 5px solid #CCCCCC;
    padding: 5px 5px 5px 20px;
    background-color: #666699;
}

code {
    background-color: #666699;
    padding: 0 2px;
    border-radius: 3px;
    font-size: 14px;
}

pre code {
    background: transparent;
}

/* Links */
a {
    color:#00ff00;
    text-decoration: underline;
}

a:visited {
    color: #00FF00;
}

a:hover {
    color: #00FF00;
    transition: 0.3s ease;
}

header {
    margin-top: 0px;
    margin-bottom: 80px;
}

/* 
Styling for projects is in Projects.astro 
Styling for 404-page is in 404.astro 
*/

/* Navigation Bar */
.nav-bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: 0px;
}

.nav-links a {
    color: #00FF00;
    text-decoration: none;
    font-size: 14px;
}

.title-link {
    display: inline-flex;
    align-items: center;
}

.title-link h1 a {
    display: inline-flex;
    font-family: "Bungee", sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0px 10px;
    color: #fff;
    text-decoration: none;
}

.nav-bar img {
    background: transparent;
}

.title-link a:hover img {
    transform: rotate(5deg);
}

.nav-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: right;
}

.nav-links ul li {
    list-style-type: none;
    display: inline-block;
}

.nav-links li::after {
    content: '/';
    margin-left: 7px;
    color: #666699;
}

.nav-links li:last-child::after {
    content: none; 
}

.nav-links a:hover, a:focus {
    color: #00FF00;
    text-decoration: underline #00FF00;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
    transition: 0.3s ease;
}

.nav-links {
    font-size: 1.1rem;
    text-align: right;
}

.nav-links a {
    margin: 0 13px;
    font-weight: bold;
}

button {
    background-color: #cccccc;
    padding: 3px 10px;
    border-width: 2px;
    border-color: #fff #666699 #666699 #fff;
    color: #0000FF;
    margin: 0;
    font-weight: bold;
    letter-spacing: 2px;;
}

button:hover {
    border: 2px solid;
    background-color: #ccc;
    border-color: #666699 #999999 #999999 #666699;
    color: #666699;
    transition: 0.5s ease;
}

footer {
    height: 30px;
    border-top: 1px solid #666699;
    color: #666699;
    margin-top: 3rem;
    margin-bottom: 0;
    padding: 10px;
    text-align: center;
}

/* Blog */
/* Titles and categories in the entry-list */
.entrytitle a {
    font-size: 16px;
    text-decoration: none;
    color: #00FF00;
}

.postmeta, .postmeta a {
    padding: 0;
    margin: -10px 0px 30px 0px;
    text-decoration: none;
}

.metalabel {
    background-color: #666699;
    padding: 2px 5px;
    border-radius: 3px;
    text-transform: lowercase;
}

.dt-published {
    margin-right: 1rem;
}

a.category {
    font-size: 16px;
    text-decoration: none;
    color: #666699;
}

a.badge {
    color: #00FF00;
    text-decoration: none;
}

a.badge:hover {
    color: #00FF00;
}

.postcategory, a.badge, .postmeta {
    font-size: 13px;
}

.category-container {
    margin-top: 2rem;
}

.category-button a, .category-button a:visited {
    text-decoration: none;
    color: #666699;
    font-weight: normal;
}

.category-button {
    text-decoration: none; 
    background-color: #333333;
    border: 1px solid #666699;
    border-radius: 10px;
    padding: 2px 10px;
    margin: 0px 15px 15px 0px; 
}

.category-button:hover {
    border: 1px solid #00FF00;
    color: #00FF00;
    background-color: #666699;
    transition: 0.5s ease;
}

.category-button a:hover {
    color: #00FF00;
}

a.category-button:visited {
    color: #666699;
}

.entrytitle a:hover, a:hover.category {
    color: #00FF00;
    transition: 0.3s ease;
}

.post-list article.card {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 20px;
}

.post-list article.card:first-child {
    margin-top: 40px;
}

.post-list article.card .entrytitle {
    margin: 0;
    text-align: left;
    max-width: 800px;
}

.post-list article.card date {
    color: #333333;
    background-color: #CCCCCC;
    padding: 0 5px 0 5px;
    min-width: 90px;
}

.post-list .post-info {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: baseline;
    grid-template-rows: 110px auto 110px;
    gap: 20px;
}

.postcategory {
    margin-top: 10px;
    margin-left: 135px;
}

.guestbook {
    color: #00FF00;
    margin-top: 1rem;
    margin-bottom: 0;
}

/* projects container */
.imagecontainer {
    display: grid;
    flex-direction: row;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin: 0.5rem 0rem;
    gap: 2%;
}

.imagecontainer img {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.textbox {
    border: none;
    padding: 20px 0px;
}

.textbox a {
    text-decoration: none;
}

.textbox a::after {
        content: '[↗]';
        margin-left: 5px;
    }

.textbox a:visited {
    color: #78db97;
}

/* h-Card */
.vcard {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 100%;
    background-color: #fff;
    border: 2px solid #666699;
    padding: 10px;
    margin: 2rem 0;
    color: #666699;
}

.vcard .left {
    text-align: center;
}

.vcard .right {
    text-align: left;
}

.vcard a {
    color: #0000FF;
}

.vcard a:hover {
    color: #333333;
}

.vcard img {
    width: 100px;
}

.category {
    font-size: 13px;
}

@media only screen and (max-width: 600px) {
    .vcard {
        grid-template-columns: 1fr;
        justify-items: center;
        text-align: center;
    }
}

    
    @media only screen and (max-width: 600px) {
        .link-images img {
            height: 30px;
            width: 30px;
            margin: 16px 1px;
        }

        .project {
            flex-direction:column;
            gap: 0;
        }

        .project img {
            max-width: 100%;
        }

        .projects h6 {
            margin-top: -10px;
        }

        .project img {
            width: 100%;
        }

        .tech img {
        width: 26px;
        height: 26px;
        }
        
        .hoverwrap img {
            width: 100%;
        }

        .text-overlay {
            width: 100%;
        }
    }


/* Media Query */
@media only screen and (max-width: 600px) {
    body {
        width: 95%;
        max-width: 500px;
        font-size: 14px;
    }

    img {
        max-width: 100%;
    }

    .nav-bar {
        display: initial;
    }

    .nav-links li::after {
        content: '/';
        margin-left: 0px;
        color: #666699;
    }

    .title-link {
        text-align: left;
    }

    .nav-links ul {
        margin-bottom: 1.5rem;
        text-align: left;
        justify-content: left;
    }

    .nav-links ul li {
        margin-left: -10px;
    }

    .nav-links a {
        margin: 0 11px;
    }

    h1 {
        font-size: 30px;
    }

    h2, h2 a {
    font-size: 26px;
    }

    h3, h3 a {
    font-size: 22px;
    }

    h4, h4 a {
    font-size: 18px;
    }

    h5, h5 a {
    font-size: 16px;
    }

    h6, h6 a {
    font-size: 14px;
    }

    .post-list .post-info {
        flex-direction: column;
        gap: 0px;
    }

    .postcategory {
        margin-left: 0;
    }

    .post-list article.card date {
        color: #333333;
        background-color: #CCCCCC;
        padding: 0 5px 0 5px;
        width: 97%;
    }

    .post-list article.card {
        margin: 0;
        padding-top: 5px;
        padding-bottom: 20px;
    }
    
    .post-list article.card h2.entrytitle {
        font-size: 16px;
        line-height: 22px;
        padding: 5px 0px;
    }
}

@media only screen and (max-width: 768px) {
    body {
        width: 90%;
    }
        h1 {
        font-size: 30px;
        }

        h2, h2 a {
        font-size: 26px;
        }

        h3, h3 a {
        font-size: 22px;
        }

        h4, h4 a {
        font-size: 18px;
        }

        h5, h5 a {
        font-size: 16px;
        }

        h6, h6 a {
        font-size: 14px;
        }
}
