---
import Layout from '../layouts/Layout.astro';
const pageTitle = "3D Models";
---
<Layout pageTitle={pageTitle} description="Eine Auswahl">

    <h2>3D Models</h2>
    <p>
        Here is a selection of my 3D models. I taught myself 3D modeling with a little help from a friend on the internet at the time. Back then I used ZBrush. <br>
        I only switched to Blender later and taught myself again. I now prefer Blender to ZBrush and almost all the models you see here were created in Blender 😊
    </p>
    

    <h3>Smolship</h3>
    <div class="imagecontainer">
       
        <a href="https://imgur.com/1gqsfYd" target="_blank"><img src="https://i.imgur.com/1gqsfYd.png?2" title="source: imgur.com" /></a>

        <a href="https://imgur.com/yZgsBH6" target="_blank"><img src="https://i.imgur.com/yZgsBH6.png?1" title="source: imgur.com" /></a>

    </div>    
    
    <section class="textbox">
        A small, fast spaceship. Pew Pew! 
        <p>
            <a href="https://skfb.ly/opCKR" target="_blank" rel="noopener noreferrer">See on Sketchfab</a>
        </p>
    </section> 

    <h3>Bruna</h3>
    <div class="imagecontainer">
       
    <a href="https://imgur.com/VVOGFfZ"><img src="https://i.imgur.com/VVOGFfZ.png?1" title="source: imgur.com" /></a>

    <a href="https://imgur.com/kIWpZro"><img src="https://i.imgur.com/kIWpZro.png?1" title="source: imgur.com" /></a>
  
    </div>     
    
    <section class="textbox">
        A character of mine. Unfortunately I couldn't upload the model to Sketchfab as it is in this picture, there's only a slimmed-down version.
        <p>
            <a href="https://skfb.ly/oUAnN" target="_blank" rel="noopener noreferrer">See on Sketchfab</a>
        </p>
    </section>    

    <h3>Mbopp</h3>
    <div class="imagecontainer">
       
    <a href="https://imgur.com/Rb4BPoM"><img src="https://i.imgur.com/Rb4BPoM.png?1" title="source: imgur.com" /></a>

    <a href="https://imgur.com/uGfyRNe"><img src="https://i.imgur.com/uGfyRNe.png?1" title="source: imgur.com" /></a>
  
    </div>     
    
    <section class="textbox">
        This is Mbopp delivering parcels. He's waiting for something and he's bored. Only a "lite" version of this on Sketchfab.
        <p>
            <a href="https://skfb.ly/oUyFZ" target="_blank" rel="noopener noreferrer">See on Sketchfab</a>
        </p>
    </section>    

    <h3>SWIFT cruiz X00-em</h3>
    <div class="imagecontainer">
       
        <a href="https://imgur.com/qEqGDA2"><img src="https://i.imgur.com/qEqGDA2.png?1" title="source: imgur.com" /></a>

        <a href="https://imgur.com/nbysdUl"><img src="https://i.imgur.com/nbysdUl.png?1" title="source: imgur.com" /></a>

    </div>    
    
    <section class="textbox">
        Low Poly spaceship with Texture Paint.
        <p>
            <a href="hhttps://skfb.ly/oVX6Z" target="_blank" rel="noopener noreferrer">See on Sketchfab</a>
        </p>
    </section> 

    <h3>Dropship</h3>
    <div class="imagecontainer">
       
        <a href="https://imgur.com/fKzzzAj"><img src="https://i.imgur.com/fKzzzAj.png?1" title="source: imgur.com" /></a>

        <a href="https://imgur.com/BKSRaUm"><img src="https://i.imgur.com/BKSRaUm.png?1" title="source: imgur.com" /></a>

    </div>    
    
    <section class="textbox">
        Another Low Poly Model.
        <p>
            <a href="https://skfb.ly/o7yVX" target="_blank" rel="noopener noreferrer">See on Sketchfab</a>
        </p>
    </section> 

    <h3>Smolbot</h3>
    <div class="imagecontainer">
       
        <a href="https://imgur.com/r18ktDU" target="_blank"><img src="https://i.imgur.com/r18ktDU.png?1" title="source: imgur.com" /></a>

        <a href="https://imgur.com/MaCqQAn" target="_blank"><img src="https://i.imgur.com/MaCqQAn.png?1" title="source: imgur.com" /></a>

    </div>    
    
    <section class="textbox">
        This is a small robot I modeled in ZBrush and is an older piece, but still one of my best.
        <p>
            <a href="https://skfb.ly/6ZPnS" target="_blank" rel="noopener noreferrer">See on Sketchfab</a>
        </p>
    </section>    
  
    

</Layout>


<style>

/* projects container */
    .imagecontainer {
        display: grid;
        flex-direction: row;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        margin: 0.5rem 0rem;
        gap: 2%;
    }

    .imagecontainer img {
        width: 100%;
        height: auto;
        object-fit: cover;
        aspect-ratio: 1/1;
    }

    .textbox {
        background-color: #5C5B77;
        border: none;
        padding: 20px 20px 12px 20px;
    }

    .textbox a {
        text-decoration: none;
    }

    .textbox a::after {
            content: '[↗]';
            margin-left: 5px;
        }

    .textbox a:visited {
        color: #78db97;
    }
        
        @media only screen and (max-width: 600px) {
            .link-images img {
                height: 30px;
                width: 30px;
                margin: 16px 1px;
            }

            .project {
                flex-direction:column;
                gap: 0;
            }

            .project img {
                max-width: 100%;
            }

            .projects h6 {
                margin-top: -10px;
            }

            .project img {
                width: 100%;
            }

            .tech img {
            width: 26px;
            height: 26px;
            }
            
            .hoverwrap img {
                width: 100%;
            }

            .text-overlay {
                width: 100%;
            }
        }
    </style>
    