---
const pageTitle = "mdohr";
const description = "404";
import '../styles/global.css';
---
<section class="container404"></section>
<h1 class="fehler404">{ description }</h1>

    <span>
    Hier gibt's nicht viel zu sehen...
    </span>

    <p>
        <a href="/">Zur&uuml;ck zur Homepage</a>
    </p>
<style>
    body {

        text-align: center;
    }

    .container404 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 25%;
    }

    h1 {
        margin: 0 auto;
        text-align: center;
        border: 0;
        font-size: 120px;
        letter-spacing: 10px;

    }

    span {
        color: #5C5B77;
    }

    a, a:active, a:visited {
        color: #78DB97;
    }
</style>