---
import Layout from '../layouts/Layout.astro';
const pageTitle = "mdohr";

import PostCard from '../components/PostCard.astro';
import Projects from '../components/Projects.astro';
import { formatBlogPosts } from '../js/sortPosts';
const allPosts = await Astro.glob("./blog/posts/*md");
const formattedPosts = formatBlogPosts(allPosts, {
    limit: 3,
});
---

<Layout pageTitle={pageTitle} description="Frontend Development">
    
    <h1>{ pageTitle } <span>07</span> <br><small>Frontend Development</small></h1>
    <!-- <small>Frontend Developer</small> -->
   <p>Hallo 👋</p>
   <p>ich bin eine erfahrene Webentwicklerin mit einem Hintergrund in
    Kunst und Grafikdesign. Mein Schwerpunkt liegt auf 
    ästhetisch ansprechenden Front-End-Designs und ich liebe es,
    immer etwas Neues lernen zu können.
    Websites baue ich schon seit 1999 und lasse mich dabei gerne von 
    Retro-Spielen und dem "Old Web" inspirieren.
    </p>

        <a href="/works/">
            <button>E-Mail</button>
        </a>

    <!-- Portfolio -->
    <Projects />
    
    <!-- Blogposts -->
    <section class="post-list" aria-label="List of blog posts">
        <h4>Neueste Blogeinträge</h4>
               {
                formattedPosts.map((post) => (
                    <PostCard 
                    frontmatter={post.frontmatter} 
                    url={post.url} />
                    ))
                }
               
    </section>
</Layout>

