---
import Layout from '../layouts/Layout.astro';
const pageTitle = "mdohr";

import PostCard from '../components/PostCard.astro';
import { formatBlogPosts } from '../js/sortPosts';
const allPosts = await Astro.glob("./blog/posts/*md");
const formattedPosts = formatBlogPosts(allPosts, {
    limit: 3,
});
---

<Layout pageTitle={pageTitle} description="Frontend Development">
    
    <h1>{ pageTitle } <span>07</span> <br><small>Frontend Development</small></h1>
    <!-- <small>Frontend Developer</small> -->
   <p>Hallo 👋</p>
   <p>ich bin eine erfahrene Webentwicklerin mit einem Hintergrund in
    Kunst und Grafikdesign. Mein Schwerpunkt liegt auf 
    ästhetisch ansprechenden Front-End-Designs und ich liebe es,
    immer etwas Neues lernen zu können.
    Websites baue ich schon seit 1999 und lasse mich dabei gerne von 
    Retro-Spielen und dem "Old Web" inspirieren.
    </p>

        <a href="/works/">
            <button>E-Mail</button>
        </a>

    <!-- Portfolio -->
    
    <div class="projects">
    <h2>Portfolio</h2>
<!-- 1# -->
    <div class="slideshow-container">
        <div class="slideshow-wrapper">

                    <img src="/img/cover-galaxygroove.png" alt="Galaxy Groove Screenshot cover image">

                    <img src="/img/galaxygroove1.png" alt="Galaxy Groove Screenshot 1">

                    <img src="/img/galaxygroove2.png" alt="Galaxy Groove Screenshot 2">

                    <img src="/img/galaxygroove3.png" alt="Galaxy Groove Screenshot 3">

                    <img src="/img/galaxygroove4.png" alt="Galaxy Groove Screenshot 4">
        </div>       
</div>

<section class="tech">
    <p>
        <img src="/icons8-css-48.png" alt="CSS">
        <img src="/icons8-sass-avatar-48.png" alt="SCSS">
        <img src="/icons8-html-48.png" alt="HTML">
        <img src="/icons8-javascript-48.png" alt="JavaScript">
    </p>
</section>

<section class="repo">
    <a href="https://mdohr07.github.io/galaxygroove" target="_blank">Live Website</a>
    <a href="https://github.com/mdohr07/galaxygroove" target="_blank">Repository</a>  
</section>
       
</div> <!-- End: Projects  -->


    

    
    <!-- Blogposts -->
    <section class="post-list" aria-label="List of blog posts">
        <h4>Neueste Blogeinträge</h4>
               {
                formattedPosts.map((post) => (
                    <PostCard 
                    frontmatter={post.frontmatter} 
                    url={post.url} />
                    ))
                }
               
    </section>
</Layout>

<style>

/* projects container */
    .projects {
        display: flex;
        flex-direction: column;
        gap: 0;
        padding:0;
        margin-top:
    }

    .projects h2 {
        margin-bottom: 1rem;
    }
    .projects .tech img {
        width: 32px;
        margin: 0 5px 0 5px;
    }
    .projects .repo {
        color: #78DB97;
        background: transparent;
        margin-top: 10px;  
        margin-bottom: 4rem;      
        text-align: right;
        
    }
    .projects .repo a {
        text-decoration: none;
    }

    .projects .repo a:first-child {
        margin-right: 20px;
    }

    .repo a::after {
        content: '[↗]';
        margin-left: 5px;
    }
    .projects .tech {
        padding: 0px 20px 0px 20px;
        margin: 0;
        text-align: center;
        background-color: #E8FFEE;
        border-bottom: 2px solid #5C5B77;
    }

    /* Slideshow */
    .slideshow-container {
        max-width: 100%;
        position: relative;
        overflow: hidden;
    }

    .slideshow-wrapper {
        width: 100%;
        display: flex;
        animation: slide 15s infinite;
    }

    .slideshow-wrapper img {
        max-width: 100%;
        max-height: 75%;
        object-fit: cover;
    }

    @keyframes slide {
        0% {
            transform: translateX(0);
        }
        25% {
            transform: translateX(0);
        }
        30% {
            transform: translateX(-100%);
        }
        50% {
            transform: translateX(-100%);
        }
        55% {
            transform: translateX(-200%);
        }
        75% {
            transform: translateX(-200%);
        }
        80% {
            transform: translateX(-300%);
        }
        100% {
            transform: translateX(-300%);
        }
    }
    
    @media only screen and (max-width: 600px) {
        .link-images img {
            height: 30px;
            width: 30px;
            margin: 16px 1px;
        }
    }
</style>
