---
import Layout from '../layouts/Layout.astro';
const pageTitle = "mdohr";

import PostCard from '../components/PostCard.astro';
import { formatBlogPosts } from '../js/sortPosts';
const allPosts = await Astro.glob("./blog/posts/*md");
const formattedPosts = formatBlogPosts(allPosts, {
    limit: 3,
});
---

<Layout pageTitle={pageTitle} description="Frontend Development">
    
    <h1>{ pageTitle } <span>07</span> <br><small>Frontend Development</small></h1>
    <!-- <small>Frontend Developer</small> -->
   <p>Hallo 👋</p>
   <p>ich bin eine erfahrene Webentwicklerin mit einem Hintergrund in
    Kunst und Grafikdesign. Mein Schwerpunkt liegt auf 
    ästhetisch ansprechenden Front-End-Designs und ich liebe es,
    immer etwas Neues lernen zu können.
    Websites baue ich schon seit 1999 und lasse mich dabei gerne von 
    Retro-Spielen und dem "Old Web" inspirieren.
    </p>

        <a href="/works/">
            <button>E-Mail</button>
        </a>

    <!-- Portfolio -->
    <h3>Portfolio</h3>
    <div class="projects">
        <section class="project-image">
           
            <img src="/img/cover-galaxygroove.png" id="slide1" alt="Galaxy Groove Screenshot cover image">
                   <!--
                    <img src="/img/galaxygroove1.png" id="slide2" alt="Galaxy Groove Screenshot 1">
                    <img src="/img/galaxygroove2.png" id="slide3" alt="Galaxy Groove Screenshot 2">
                    <img src="/img/galaxygroove3.png" id="slide4" alt="Galaxy Groove Screenshot 3">
                    <img src="/img/galaxygroove4.png" id="slide5" alt="Galaxy Groove Screenshot 4">
                    -->

        </section>

        <section class="tech">
            <p>
                <img src="/public/icons8-css-48.png" alt="CSS">
                <img src="/public/icons8-sass-avatar-48.png" alt="SCSS">
                <img src="/public/icons8-html-48.png" alt="HTML">
                <img src="/public/icons8-javascript-48.png" alt="JavaScript">
            </p>
        </section>

        <section class="repo">
            <a href="#">Repository</a>
        </section>
           
    </div>
    
    <!-- Blogposts -->
    <section class="post-list" aria-label="List of blog posts">
        <h4>Neueste Blogeinträge</h4>
               {
                formattedPosts.map((post) => (
                    <PostCard 
                    frontmatter={post.frontmatter} 
                    url={post.url} />
                    ))
                }
               
    </section>
</Layout>

<style>

/* projects container */
    .projects {
        display: flex;
        flex-direction: column;
        gap: 0;
        color: #5C5B77;
        padding:0;
    }

    .projects .tech {
        padding: 0px 20px 0px 20px;
        margin: 0;
        text-align: center;
        background-color: #E8FFEE;
    }

    .projects .repo {
        color: #78DB97;
        background: transparent;
        margin-top: 10px;
        text-align: right;
    }

    .projects .repo a {
        text-decoration: none;
    }
    .repo a::after {
        content: '[↗]';
        margin-left: 5px;
    }

    .project-image img {
        max-width: 100%;
        max-height: 75%;
        object-fit: cover;
    }

    /* Skill images */
        .link-images img {
            margin: 16px 4px;
        }
    @media only screen and (max-width: 600px) {
        .link-images img {
            height: 30px;
            width: 30px;
            margin: 16px 1px;
        }
    }
</style>
