---
import Layout from '../layouts/Layout.astro';
const pageTitle = "mdohr07";

import PostCard from '../components/PostCard.astro';
import { formatBlogPosts } from '../js/sortPosts';
import type { it } from 'date-fns/locale';

const allPosts = await Astro.glob("./blog/posts/*md");
const formattedPosts = formatBlogPosts(allPosts, {
    limit: 5,
});
---

<Layout pageTitle={pageTitle} description="A personal Website with Blog">
    
    <p lang="en">
    Hello and welcome to my website <img src="/img/hello.gif" alt="pixel graphic of a waving little alien" /><br>
    I'm Miriam, an IT specialist in training from Germany who studied Graphic Design and used to be a freelance artist.<br/>
    I love filling sketchbooks and journals. But I also like building websites. I started doing this in 1999 and I still like to be inspired by retro games and the "old web".
    </p>

    <p>On this website I would like to document my progress and thoughts, but also showcase my projects. In my Blog I am going to write about IT training, anything I feel like writing about and of course 
    things that I am passionate about like drawing, painting and riding my road bike.</p>

    <p>PS: I have a <a href="https://users2.smartgb.com/g/g.php?a=s&i=g26-39641-50" target="_blank" rel="noopener noreferrer">Guestbook</a>!</p>

<!-- h-card -->
<div id="hcard-mdohr07" class="vcard">
<section class="left">
    <img class="u-photo" src="https://mdohr.space/mblip-full.png" alt="mdohr07">
</section>

<section class="right">

    <p>
        <span class="additional-name"><b>mdohr07</b></span> | <span class="country-name">Germany</span><br/>
    </p>

    <p>
    URL: <a class="u-url u-uid" rel="me" href="https://mdohr.space">https://mdohr.space</a><br/>
    Email: <a class="email" href="mailto:mdohr07@gmail.com">mdohr07(at)gmail.com</a>
    </p>
   
    <p>
        🐘 <a rel="me" href="https://indieweb.social/@mdohr07" target="_blank">Mastodon</a><br>
        ⚙️ <a href="https://github.com/mdohr07" target="_blank" rel="me" class="u-url">GitHub</a><br>
        🎨 <a href="https://www.artstation.com/mdohr07" target="_blank" rel="me" class="u-url">Artstation</a><br>
        📦 <a href="https://sketchfab.com/mdohr07" target="_blank" rel="me" class="u-url">Sketchfab</a>
    </p>

    <span class="category">Informatics, Art, Road Cycling, 3D, Frontend</span>

    <link rel="authorization_endpoint" href="https://indieauth.com/auth">
</section>
</div>

<p style="text-align: center;">
<a href="https://xn--sr8hvo.ws/previous"><button>←</button></a>
<a href="https://xn--sr8hvo.ws"><button>An IndieWeb Webring</button></a> 
<a href="https://xn--sr8hvo.ws/next"><button>→</button></a>
</p>

    <!-- Blogposts
         <a href="/rss.xml" title="RSS Feed">RSS abonnieren</a>
         -->
    <section class="post-list" aria-label="List of blog posts">
        <h2>Newest Blog entries <a href="https://mdohr.space/rss.xml" target="_blank"><img src="/icons8-rss-16.png" alt="RSS Feed" style="margin-bottom: -3px;"></a>
        </h2>
      
               {
                formattedPosts.map((post) => (
                    <PostCard 
                    frontmatter={post.frontmatter} 
                    url={post.url} />
                    ))
                }
               
    </section>
</Layout>


