---
import Layout from '../layouts/Layout.astro';
const pageTitle = "mdohr07";

import PostCard from '../components/PostCard.astro';
import Projects from '../components/Projects.astro';
import { formatBlogPosts } from '../js/sortPosts';

const allPosts = await Astro.glob("./blog/posts/*md");
const formattedPosts = formatBlogPosts(allPosts, {
    limit: 5,
});
---

<Layout pageTitle={pageTitle} description="Meine persönliche Website mit Blog">
    
   <h2>Hallo 👋</h2>
    <p lang="de">Ich bin Miriam und ich finde es schwierig, mich selbst zu betiteln.<br/>
    Ich habe Grafik studiert und als Comic Zeichnerin, Concept Artist und Webdesignerin gearbeitet. Im Moment befinde ich mich in einer Umorientierungsphase und beginne bald eine Umschulung zur Fachinformatikerin. 🧑‍💻<br/>
    Meine Leidenschaften sind zeichnen, malen und mit meinem Rennrad fahren. Ich liebe es, Skizzenbücher und Journals zu füllen. Aber ich baue auch gern Websites. Damit habe ich 1999 angefangen und lasse mich heute noch dabei gern dabei von Retro-Spielen und dem "Old Web" inspirieren. 
    </p>

    <p>Auf dieser Website möchte ich vor allem meine Fortschritte und auch Gedanken dokumetieren, aber auch meine Projekte zur Schau stellen.</p>

            <!-- h-card -->
            <div id="hcard-mdohr07" class="vcard">
                <section>
                    <img class="u-photo" src="https://mdohr.space/mblip-full.png" alt="mdohr07 - Avatar" />
                </section>
                    
                <section>
                    <span class="additional-name"><b>mdohr07</b></span> | <span class="country-name">Germany</span><br><br>
                    
                    URL: <a class="u-url" rel="me" href="https://mdohr.space">https://mdohr.space</a><br>
                    eMail: <a class="email" href="mailto:mdohr07@gmail.com">mdohr07@gmail.com</a><br>
                    
                    <p>
                    ⚙️ <a href="https://github.com/mdohr07" target="_blank" rel="me" class="u-url">GitHub</a><br/>
                    🎨 <a href="https://www.artstation.com/mdohr07" target="_blank" rel="me" class="u-url">Artstation</a><br/>
                    📦 <a href="https://sketchfab.com/mdohr07" target="_blank" rel="me" class="u-url">Sketchfab</a>
                    </p>

                    <p class="category">Informatik, Kunst, Rennrad, 3D, Frontend</p>    
                </section>
                </div>

    <h3>AI Nutzung</h3>
    <p>Ich schreibe meine Texte selbst, weil ich "ich" sein will, benutze aber gern AI für Brainstorming. </p>

    <!-- Portfolio -->
    <!-- <Projects -->    
        <hr> 

    <!-- Blogposts
         <a href="/rss.xml" title="RSS Feed">RSS abonnieren</a>
         -->
    <section class="post-list" aria-label="List of blog posts">
        <h4>Neueste Blogeinträge</h4>
               {
                formattedPosts.map((post) => (
                    <PostCard 
                    frontmatter={post.frontmatter} 
                    url={post.url} />
                    ))
                }
               
    </section>
</Layout>

<style>

.vcard {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: center;
    background-color: #E8FFEE;
    border: 2px solid #5C5B77;
    padding: 20px;
    color: #5C5B77;
}

.vcard a {
    color: #5C5B77;
}

.vcard a:hover {
    color: #2D293D;
}

.vcard img {
    width: 200px;
    float: left;
}

.category {
    font-size: 13px;
}

@media only screen and (max-width: 600px) {
    .vcard {
        grid-template-columns: 1fr;
        justify-items: center;
        text-align: center;
    }
}

</style>

