---
import Layout from '../layouts/Layout.astro';
const pageTitle = "mdohr07";

import PostCard from '../components/PostCard.astro';
import Projects from '../components/Projects.astro';
import { formatBlogPosts } from '../js/sortPosts';

const allPosts = await Astro.glob("./blog/posts/*md");
const formattedPosts = formatBlogPosts(allPosts, {
    limit: 5,
});
---

<Layout pageTitle={pageTitle} description="About page">

    <div class="imagecontainer">

        <p lang="en">I've put together a little profile for anyone who wants to find out a bit more about me. I find it very difficult to decide on my one favorite thing.
            There is also a section below with my skills.<br/><br/>
        
            But you can say that I like science fiction. I would also describe myself as a very creative person and my personality type is INFJ(A).
            </p>

        <a href="/foto.jpg" target="_blank" rel="noopener noreferrer"><img src="/foto.jpg" alt=""></a>

        </div>


    <ul lang="en">
        <li>Favorite color: All of them!</li>
<li>Favorite food: Many, e.g., Udon, Soba with Tempura, but also curries or pizza</li>
<li>Favorite movie: The "Alien" series</li>
<li>Favorite music: Mainly metal or electro / new retro wave, a bit of country</li>
<li>Favorite travel destinations: Japan! Otherwise Scotland and the Netherlands</li>
<li>Favorite game: Mass Effect, Elite Dangerous, FF7 (original)</li>
<li>Favorite quote: "Or is?" (Queen Oona)</li>
<li>Favorite artist: Karl Kopinski, Sparth</li>
<li>Favorite drawing/painting material: Fudepen, marker</li>
<li>Favorite programming language or web design tool: CSS</li>
<li>Dream project: A game in pixel graphics</li>
<li>Pets: Imaginary cat and house spiders</li>
<li>Favorite season: Spring</li>
<li>Type of my bike: Endurance</li>
<li>Favorite cyclist: Marlen Reusser</li>
<li>Favorite ride snack: Oat snack or pretzel stick</li>
    </ul>

    <hr>

    <p>
        <h5>Coding</h5>
        <small class="skilLable"><b>html </b><span>❚❚❚❚❚❚</span></small>
        <small class="skilLable"><b>css </b><span>❚❚❚❚❚❚</span></small>
        <small class="skilLable"><b>sass </b><span>❚❚</span>❚❚❚❚</small>
        <small class="skilLable"><b>JavaScript </b><span>❚</span>❚❚❚❚❚</small>
    </p>

    <p>
        <small class="skilLable"><b>wordpress </b><span>❚❚❚❚</span>❚❚</small>
        <small class="skilLable"><b>shopify </b><span>❚</span>❚❚❚❚❚</small>
        <small class="skilLable"><b>astro </b><span>❚</span>❚❚❚❚❚</small>
    </p>

    <p>
        <h5>Design Software</h5>
        <small class="skilLable"><b>Photoshop </b><span>❚❚❚❚❚❚</span></small>
        <small class="skilLable"><b>InDesign </b><span>❚❚❚❚</span>❚❚</small>        
        <small class="skilLable"><b>Adobe Illustrator </b><span>❚❚❚</span>❚❚❚</small>
    </p>

    <p>
        <small class="skilLable"><b>Blender </b><span>❚❚❚</span>❚❚❚</small>
        <small class="skilLable"><b>Zbrush </b><span>❚❚❚</span>❚❚❚</small>
        <small class="skilLable"><b>Clip Studio Paint </b><span>❚❚❚❚❚❚</span></small>
    </p>

    <p>
        <h5>Spoken languages</h5>
        <small class="skilLable"><b>German </b><span>❚❚❚❚❚❚</span></small>
        <small class="skilLable"><b>Englisch </b><span>❚❚❚❚❚</span>❚</small>
        <small class="skilLable"><b>Japanese </b><span>❚❚❚</span>❚❚❚</small>
    </p>
    <!--
        <h3>Skills & Tools</h3>  


    <p>  

        <small class="skilLable"><b>MySQL </b><span>❚</span>❚❚❚❚❚</small>
    </p>

        <p>
            <small class="skilLable"><b>Figma </b><span>❚</span>❚❚❚❚❚</small>

        </p>

         -->

</Layout>

<style>
    details {
        margin: 10px 0;
    }
    p {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
    }
    
    ul li {
        margin-left: -1.5rem;
    }

    .skilLable {
        display: inline-flex;
        align-items: baseline;
        background-color: #595874;
        color: #2d293d;
        padding: 2px 7px;
        white-space: nowrap; 
        height: 20px;
    }
    
    .skilLable span {
        color: #78DB97;
        text-transform: none;
        white-space: nowrap; 
        height: 30px;
    }
    
    .skilLable b {
        color: #E8FFEE;
        text-transform: uppercase;
        margin-right: 10px;
    }
    
    small.skilLable {
        white-space: normal;
    }

    .imagecontainer {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1rem;
        width: 100%;
        min-height: 300px;
        align-items:center;
        margin-bottom: 2rem;
    }

    .imagecontainer p {
        background-color:#595874;
        padding: 6%;
        margin-top: 4rem;
    }
    
    .imagecontainer img {
        max-width: 300px;
        margin-bottom: 3rem;
    }
    
    @media only screen and (max-width: 600px) {
        .imagecontainer {
            grid-template-columns: 1fr;
        }

        .imagecontainer img {
            max-width: 100%;
        }

    }

    @media only screen and (max-width: 800px) {
        .imagecontainer {
            grid-template-columns: 1fr;
        }

        .imagecontainer img {
            max-width: 100%;
        }
    }



    </style>

