---
import Layout from '../layouts/Layout.astro';
import { date } from 'astro/zod';

const pageTitle = "Blog";
const description ="something bla bla"
---
<Layout pageTitle={pageTitle} >
    <!-- <div class="gif">
        <img width="300" height="259" alt="RaccoonSpaceGif" src="/space.webp"/>
    </div> -->
    <h1>{ pageTitle }</h1>
    <p>{ description }</p>
    <!-- <small>Frontend Developer</small> -->
    <h2>Einträge</h2>

    <ul role="list" class="link-card-grid">
        <Card
            href="./posts/2023-10-18_willkommen/"
            image="/blog.png"
            title="Blog 1"
            date=""
            body="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci"
        />
        <Card
            href="./posts/test/"
            image="/blog.png"
            title="Blog 2"
            date=""
            body="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci"
        />
        <Card
            href="https://medium.com/"
            image="/blog.png"
            title="Blog 3"
            date=""
            body="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci"
        />
        <Card
            href="https://medium.com/"
            image="/blog.png"
            title="Blog 4"
            date=""
            body="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci"
        />
    </ul>


</Layout>

