---
import { formatBlogPosts } from '../js/sortPosts';
import { slugify } from '../js/helpers.js';
const allPosts = await Astro.glob("../pages/blog/posts/*md");
const formattedPosts = formatBlogPosts(allPosts);
const allCategories = formattedPosts.map((cat) => 
    cat.frontmatter.category.toLowerCase()).flat();

    const processedCats = allCategories.reduce((acc, category) => {
       // Check if the category exists in the acc
       const value = acc[category] || 0;
       return {
        ...acc,
        [category]: value + 1
       }
    }, {} /*Starts with empty object */ )

    const { showCount } = Astro.props;
---

    <!-- Loop over data -->
    {
        Object.entries(processedCats).map(([key, val]) /* [category] + value */=> (
            <span>
                <a href={`../../blog/posts/category/${slugify(key)}/`} class="category-list">
                    { key } { showCount && `(${val})`} </a></span>
        ))
    }
