---
const author = "mdohr07"
const year = new Date().getFullYear();
---
<footer>
    <div>
        <small>
            &copy; {year}&nbsp;{author}. All Rights Reserved.
            Powerded by 
            <a href="https://astro.build" target="_blank" rel="noopener noreferrer"><sub><img src="/public/astro-logo-light.png" alt="Astro logo" style="margin-bottom: -6px; width: 70px;"></sub></a></small>
    </div>
</footer>

