---
const author = "mdohr07"
const year = new Date().getFullYear();
---
<footer>
    <div>
        <small>
            &copy; {year}&nbsp;{author}. All Rights Reserved.
            Powerded by 
            <a href="https://astro.build" target="_blank" rel="noopener noreferrer"><img src="https://api.iconify.design/logos:astro.svg?color=%23888888" alt="Astro logo" style="margin-bottom: -6px;"></a></small>
    </div>
</footer>

