---
import Navigation from './Navigation.astro';
const {pageTitle, description} = Astro.props;
---

<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="{description}" />
    <title>{pageTitle} // {description}</title>
    
</head>

<header>
    <nav transition:persist >
        <Navigation />
    </nav>
</header>
