---
import Navigation from './Navigation.astro';
const {pageTitle, description} = Astro.props;
---

<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="https://mdohr07.netlify.app/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="mdohr07">
    <meta name="description" content="Willkommen auf meiner persönlichen Website! Ich bin mdohr07, eine angehende Fachinformatikerin und vielseitige Künstlerin. Hier dokumentiere ich meine Fortschritte in Web Development und Programmierung, teile kreative Projekte in Malerei, Zeichnung und 3D-Modellierung, und schreibe über meine Leidenschaften wie Zeichnen, Journaling und Rennradfahren. Die Ästhetik der Website ist von Retro-Spielen und dem Old Web inspiriert, schau dich um!" />
    <meta name="keywords" content="mdohr07, Fachinformatikerin, IT, Künstlerin, Web Development, Programmierung, Malerei, Zeichnung, 3D-Modellierung, Retro-Spiele, Old Web, Journaling, Rennradfahren, deutsch, persönliche Website, Blog">
    <link rel="canonical" href="https://mdohr.space" />
    <link rel="alternate" type="application/rss+xml" title="RSS-Feed von mdohr07’s Weblog" href="https://mdohr07.netlify.app/rss.xml">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">
     <!-- receive pingbacks -->


    <link rel="me" href="https://github.com/mdohr07" />
    <link rel="me" href="https://github.com/mdohr07" />
    <link rel="me" href="https://www.artstation.com/mdohr07" />
    <link rel="me" href="https://sketchfab.com/mdohr07">
    <title>{pageTitle} // {description}</title>
    
</head>

<header>
    <nav>
        <Navigation />
    </nav>
</header>
