---
import Navigation from './Navigation.astro';
const {pageTitle, description} = Astro.props;
---

<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="https://mdohr07.netlify.app/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="mdohr07">
    <meta name="description" content="Welcome to my personal website! I'm mdohr07, an aspiring IT specialist and versatile artist. Here I document my progress in web development and programming, share creative projects in painting, drawing and 3D modeling, and write about my passions like drawing, journaling and road cycling. The aesthetic of the site is inspired by retro games and the old web, take a look around!" />
    <meta name="keywords" content="mdohr07, IT, artist, web development, programming, painting, drawing, 3D modeling, retro games, old web, journaling, road biking, German, personal website, blog, indie web">
    <link rel="canonical" href="https://mdohr.space" />
    <link rel="alternate" type="application/rss+xml" title="RSS-Feed von mdohr07’s Weblog" href="https://mdohr07.netlify.app/rss.xml">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">
     <!-- receive pingbacks -->


    <link rel="me" href="https://github.com/mdohr07" />
    <link rel="me" href="https://github.com/mdohr07" />
    <link rel="me" href="https://www.artstation.com/mdohr07" />
    <link rel="me" href="https://sketchfab.com/mdohr07">
    <title>{pageTitle} // {description}</title>
    
</head>

<header>
    <nav>
        <Navigation />
    </nav>
</header>
