---
import Navigation from './Navigation.astro';
const {pageTitle, description} = Astro.props;
---

<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="https://mdohr07.netlify.app/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="mdohr07">
    <meta name="description" content="Persönliche Website & Blog" />
    <meta name="keywords" content="Webentwicklung, Frontend-Design, Web Developer, Web Design, Kunst, 3D Modelle, Grafikdesign, Ästhetik, Retro-Spiele, Old Web, Indie Web, Lernen, JavaScript, Persönliche Entwicklung, Blog, Erfahrungen, Kreativität, mdohr07, deutsch">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">
     <!-- receive pingbacks -->


    <link rel="me" href="https://github.com/mdohr07" />
    <link rel="me" href="https://www.linkedin.com/in/miriamesdohr" />
    <title>{pageTitle} // {description}</title>
    
</head>

<header>
    <nav>
        <Navigation />
    </nav>
</header>
