---
const pageTitle = "My Astro Site";
---
<div class="nav-bar">
    <div class="title-link">
        <a href="/">{ pageTitle }</a>
    </div>
    <div class="nav-links">
        <ul>
            <li><a href="/blog/">Blog</a></li>
            <li> <a href="https://github.com/ttomczak3/Milky-Way" target="_blank">GitHub</a></li>
        </ul>
        
        
       

    </div>
</div>
