---
const pageTitle = "mdohr07";
---

<div class="nav-bar">
    <div class="title-link">
        <a href="/"><img src="https://mdohr07.netlify.app/logo.png" alt="Home"></a> 
        <h1 class="pageTitle"><a href="/">{ pageTitle }</a></h1>
    </div>
    <div class="nav-links">
        <ul>
            <li><a href="/blog/">Blog</a></li>
            <li><a href="/3D/">3D</a></li>
            <!-- <li><a href="/ueber/">Über mich</a></li>  -->
        </ul>

    </div>
</div>