---
const pageTitle = "mdohr";
---
<div class="nav-bar">
    <div class="title-link">
        <a href="/"><img src="/public/logo.png" alt=""></a>
    </div>
    <div class="nav-links">
        <ul>
            <li><a href="/blog/">Blog</a></li>
            <li> <a href="https://github.com/mdohr07" target="_blank">GitHub</a></li>
        </ul>
        
        
       

    </div>
</div>
