---
const { prevUrl, nextUrl } = Astro.props;
---


<nav aria-label="Blog Pagination">
    <hr />
    {
        prevUrl && (
            <a href={prevUrl}>
                ← neuere Einträge
            </a>
        )
    }
        {
            nextUrl && (
                <a href={nextUrl}>
                   ältere Einträge →
                </a>
            )
        }
</nav>

<style>
    a {
        text-decoration: none;
    }
</style>