---

---

<div class="projects">
    <h2></h2>

<!-- #1 -------------------->
<div class="project">
    <div class="hoverwrap">
    <a href="https://mdohr07.github.io/coffeestop" target="_blank" rel="noopener noreferrer">
        <img src="/img/cover-coffeestop.png" alt="Coffee Stop Vorschaubild">
    
    <div class="text-overlay">Live Website [↗]</div>
    </a>
</div>

    <div class="right">
        <section class="project-about">
            <h6>Coffee Stop</h6> 
            <span class="tech">
                <img src="/icons8-css-48.png" alt="CSS">
                <img src="/icons8-sass-avatar-48.png" alt="SCSS">
                <img src="/icons8-html-48.png" alt="HTML">
                <img src="/icons8-javascript-48.png" alt="JavaScript">
            </span>

            <p>Coffee Stop ist ein imaginäres Geschäftsprojekt für ein Cycling Café, das eine großartige Mischung aus Kaffee und Fahrradservice bietet.</p>
        </section>

        <span class="repo">
            <a href="https://github.com/mdohr07/coffeestop" target="_blank">Repository</a>  
        </span>
    </div>
</div>

<!-- #2 -------------------->
        <div class="project">
            <div class="hoverwrap">
            <a href="https://mdohr07.github.io/galaxygroove" target="_blank" rel="noopener noreferrer">
                <img src="/img/cover-galaxygroove.png" alt="Galaxy Groove Vorschaubild">
            
                  <div class="text-overlay">Live Website [↗]</div>
            </a>
            </div>
          

            <div class="right">
                <section class="project-about">
                    <h6>Galaxy Groove</h6> 
                    <span class="tech">
                        <img src="/icons8-css-48.png" alt="CSS">
                        <img src="/icons8-sass-avatar-48.png" alt="SCSS">
                        <img src="/icons8-html-48.png" alt="HTML">
                        <img src="/icons8-javascript-48.png" alt="JavaScript">
                    </span>

                    <p>Galaxy Groove ist ein Konzept für eine Website, die eine Online-Community mit einem Retro-Weltraumspiel kombiniert.</p>
                </section>

                <span class="repo">
                    <a href="https://github.com/mdohr07/galaxygroove" target="_blank">Repository</a>  
                </span>
            </div>
        </div>

<!-- #3 -------------------->
        <div class="project">
            <div class="hoverwrap">
            <a href="https://mdohr07.neocities.org" target="_blank" rel="noopener noreferrer">
                <img src="/img/mdohr-neocities_full-small.png" alt="Neocities Website Screenshot" style="background-color: #000">     
            <div class="text-overlay">Live Website [↗]</div>
        </a>
        </div>

            <div class="right">
                <section class="project-about">
                    <h6>Persönliche Website</h6> 
                    <span class="tech">
                        <img src="/icons8-css-48.png" alt="CSS">
                        <img src="/icons8-html-48.png" alt="HTML">
                    </span>

                    <p>Mein kleiner Platz auf Neocities in den weiten des Internets, ganz wie früher. 
                       <br>Na ja, fast.
                    </p>
                </section>

                <span class="repo">
                    <s style="color: #5C5B77;">Repository</s> 
                </span>
            </div>
        </div>

<!-- #4 -------------------->
        <div class="project">
            <div class="hoverwrap">
            <a href="/" target="_blank" rel="noopener noreferrer">
                <img src="/logo_big.png" alt="mdohr Logo" style="object-fit: contain; background-color: #E8FFEE">
           
            <div class="text-overlay">Du bist schon hier :)</div> 
            </a>
        </div>

            <div class="right">
                <section class="project-about">
                    <h6>Über diese Website</h6> 
                    <span class="tech">
                        <img src="/icons8-astro-64.png" alt="SCSS">
                        <img src="/icons8-css-48.png" alt="CSS">
                        <img src="/icons8-javascript-48.png" alt="JavaScript">
                    </span>

                    <p> Mein erstes Projekt mit dem Astro Framework. 
                        Basierend auf einem Fork habe ich das Theme nicht nur optisch auf
                        meine Bedürfnisse angepasst, sondern auch mehrere Funktionen hinzugefügt.
                    </p>
                </section>

                <span class="repo">
                    <a href="https://github.com/mdohr07/blog" target="_blank">
                    Repository
                    </a>
                </span>
            </div>
        </div>

     




<style>

/* projects container */
    .projects {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-image: url('/stardust.png');
        padding-top: 80px;
        padding-bottom: 50px;
    }

    .projects h2 {
            margin-bottom: 1rem;
            color: #5C5B77;
        }
    
        .projects h6 {
            margin: 0px 0 5px 0px;
        }
    
    .project {
        display: flex;
        gap: 15px;
        width: 100%;
        margin-bottom: 50px;
    }

    .project img {
        width: 300px;
        height: 150px;
        margin-top: 5px;
        object-fit: cover;
    }
    
    .right {
        display: grid;
        width: 100%;
        padding: 5px 0 0px 0px;
        max-width: 100%;
    }
    .tech {
        width: 100%;
        height: 35px;
    }
    .tech img {
        width: 32px;
        height: 32px;
        padding: 0px;
        margin: 10px 5px 0 0px;
    }
    .repo {
        height: 25px;
        text-align: left;  
        color: #78DB97;   
        }

        .repo a {
            text-decoration: none;
        }
    
        .repo a:first-child {
            margin-right: 20px;
        }
    
        .repo a::after {
            content: '[↗]';
            margin-left: 5px;
        }

/* Overlay on hover */
.hoverwrap {
    position: relative;
}

.text-overlay {
    width: 300px;
    height: 150px;
    position: absolute;
    top: 5px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #E8FFEE;
    opacity: 0;
    transition: opacity 0.3s;
    background-color: #78DB97;
}

.hoverwrap:hover .text-overlay {
    opacity: 1;
}
        
        @media only screen and (max-width: 600px) {
            .link-images img {
                height: 30px;
                width: 30px;
                margin: 16px 1px;
            }

            .project {
                flex-direction:column;
                gap: 0;
            }

            .projects h6 {
                margin-top: -10px;
            }

            .project img {
                width: 100%;
            }

            .tech img {
            width: 26px;
            height: 26px;
            }
            
            .hoverwrap img {
                width: 100%;
            }

            .text-overlay {
                width: 100%;
            }
        }
    </style>
    