---
import { ViewTransitions, slide } from 'astro:transitions';

// utils import
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

import '../styles/global.css';

// Site titles and description
const { pageTitle, description } = Astro.props;
---
<ViewTransitions />
<Header {pageTitle} {description}/>

	<body>
        <main>
	    <slot />
            <Footer />
        </main>

<!--
         <main transition:animate={slide({ duration: '0.2s' })} >
 -->