---
import '../styles/global.css';

import { ViewTransitions } from 'astro:transitions';

// utils import
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const canonicalURL = `https://mdohr.space${URL}`;

// Site titles and description
const { pageTitle, description } = Astro.props;
---
<ViewTransitions />
<Header {pageTitle} {description}/>

<html lang="en">
	<body>



        <link rel="canonical" href={canonicalURL} />
        <main lang="en">

	    <slot />
            <Footer />
        </main>

        <!-- transition:animate={slide({ duration: '0.2s' })} -->

        

        <!--
        <audio id="background-audio" src="/sounds/NextFuture.mp3" autoplay loop></audio>
        
        <script type="module" src="../sounds.js"></script>
        -->

        </body>
        </html>